[submodule "libs/SourceCode/keystone"]
	path = libs/SourceCode/keystone
	url = https://github.com/desmonHak/keystone
[submodule "libs/SourceCode/capstone"]
	path = libs/SourceCode/capstone
	url = https://github.com/desmonHak/capstone
[submodule "libs/SourceCode/ftxui"]
	path = libs/SourceCode/ftxui
	url = https://github.com/desmonHak/FTXUI
[submodule "libs/SourceCode/DistanciaLevenshtein"]
	path = libs/SourceCode/DistanciaLevenshtein
	url = https://github.com/desmonHak/DistanciaLevenshtein.git
[submodule "doc/VMdoc"]
	path = doc/VMdoc
	url = https://github.com/desmonHak/VMdoc.git
